<b>Problem Set 2 <b><br>
This problem set is based on lectures 4,5 and 6. For a complete list of topics please 
consult page 2 of the course syllabus. Please consult the ‚ÄúInstructions for Problem 
Set Submissions‚Äù document under course information before submitting your 
assignment.

<b>Question 1<b>

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [3]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [4]:
b()

In [5]:
b()

In [6]:
b()

In [7]:
a

6

Answer :  
Initially value of a = 0
First execution of the function b :
In the function b() a is declared as global varible that's why variable a can be used anywhere in the program
now , program is going to execute function c(a) , which is going to return 0 + 2 => 2
and that 2 is going to store in the a

In the second execution of function b() : a = 2 :
now , function b again going to declare varible a as a global variable
and function c(a) going to return 2+2 => 4 which is going to store in the varible a

In the second execution of function b() : a = 4 :
now , function b again going to declare varible a as a global variable
and function c(a) going to return 4+2 => 6 which is going to store in the varible a

and in the end final value of a  is going to become 6

<b>Question 2<b>

Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:

>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')

    Traceback (most recent call last):
    File "<pyshell#34>", line 1, in <module>
     fileLength('idterm.py')
    File "/Users/me/midterm.py", line 3, in fileLength
     infile = open(filename)
    FileNotFoundError: [Errno 2] No such file or directory: 
    'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:

    >>> fileLength('midterm.py')
    358
    >>> fileLength('idterm.py')
    File idterm.py not found.<b>

In [10]:
def fileLength(file_name):
    file = open(file_name)
    contents = file.read()
    file.close()
    print(len(contents))

fileLength("midterm.ipynb")

2016

In [12]:
try:
    fileLength("idterm.ipynb")
except Exception as e:
    print(e)

[Errno 2] No such file or directory: 'idterm.ipynb'

In [13]:
file_name = "id_Term_Question3.ipynb"
try:
    fileLength(file_name)
except FileNotFoundError:
    print(f"File {file_name} not found.")

File id_Term_Question3.ipynb not found.

<b>Question 3<b>

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']



Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

In [14]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x}, {self.y})"

In [15]:
k = Kangaroo(0, 0)
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [16]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [17]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0)

<b>Question 4<b>

Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
ùë•/2 ùëñùëì ùë• ùëñùë† ùëíùë£ùëíùëõ
3ùë• + 1 ùëñùëì ùë• ùëñùë† ùëúùëëùëë
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

In [20]:
def collatz(number):
    print(number , end=' ')
    if number == 1 :
        return
    elif number % 2 == 0 :
        collatz(number // 2)
    else:
        collatz(3 * number + 1)

In [21]:
collatz(1)

1

In [22]:
collatz(10)

10 5 16 8 4 2 1

<b>Question 5<b>

Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.

In [23]:
def binary(number):
    if number > 1:
        binary(number // 2)
    print(number % 2 , end = ' ')

In [24]:
binary(0)

0

In [25]:
binary(1)

1

In [26]:
binary(3)

1 1

In [27]:
binary(9)

1 0 0 1

<b>Question 6<b>

Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.

In [28]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []

    def handle_starttag(self, tag, attrs):
        if tag[0] == 'h' and '0' <= tag[1] <= '9':
            self.headings.append(int(tag[1]))
            

    def handle_data(self, data):
        if self.headings:
            level = self.headings[-1] 
            indent = ' ' * (level - 1) 
            print(f"{indent}{data}")  
            self.headings.pop()

In [29]:
infile = open('w3c.txt')

In [30]:
content = infile.read()
infile.close()

In [31]:
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

<b>Question 7<b>

Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL

In [32]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser

class Collector(HTMLParser):
    def __init__(self, url): 
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
                        
    def getLinks(self): 
        return self.links

In [33]:
def webdir(url, depth, indent):
        depth_value = int(depth)
        indent_value = int(indent)
        
        if depth_value < 0 or indent_value < 0:      
            raise ValueError
            
        resource = urlopen(url)
        content = resource.read().decode()
        collector = Collector(url)
        collector.feed(content)
        links = collector.getLinks()                

        if indent_value == 0:
            print('{}'.format(url))

        indent_value += 4
        depth_value = depth_value-1
        
        if depth_value >= 0:
            for link in links:                       
                print('{}{}'.format(indent_value*' ', link), end = '\n')
                if (depth_value) > 0: 
                    webdir(link, depth_value, indent_value)

In [34]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
    http://reed.cs.depaul.edu/lperkovic/test2.html
        http://reed.cs.depaul.edu/lperkovic/test4.html
    http://reed.cs.depaul.edu/lperkovic/test3.html
        http://reed.cs.depaul.edu/lperkovic/test4.html

<b>Question - 8 <b>

Write SQL queries on the below database table that return:

In [35]:
import sqlite3

In [42]:
weather_data = [
    ("Mumbai", "India", "Winter", 24.8, 5.9),
    ("Mumbai", "India", "Spring", 28.4, 16.2),
    ("Mumbai", "India", "Summer", 27.9, 1549.4),
    ("Mumbai", "India", "Fall", 27.6, 346.0),
    ("London", "United Kingdom", "Winter", 4.2, 207.7),
    ("London", "United Kingdom", "Spring", 8.3, 169.6),
    ("London", "United Kingdom", "Summer", 15.7, 157.0),
    ("London", "United Kingdom", "Fall", 10.4, 218.5),
    ("Cairo", "Egypt", "Winter", 13.6, 16.5),
    ("Cairo", "Egypt", "Spring", 20.7, 6.5),
    ("Cairo", "Egypt", "Summer", 27.7, 0.1),
    ("Cairo", "Egypt", "Fall", 22.2, 4.5)
]

def database_setup():
    conn = sqlite3.connect('weather_database.db')
    cursor = conn.cursor()
    cursor.execute("DROP TABLE IF EXISTS weather_table")

    cursor.execute("""
    CREATE TABLE IF NOT EXISTS weather_table (
        city TEXT,
        country TEXT,
        season TEXT,
        temperature REAL,
        rainfall REAL
    )
""")
    cursor.executemany("""
        INSERT INTO weather_table (City, Country, Season, Temperature, Rainfall)
        VALUES (?,?,?,?,?)
    """, weather_data)    
    conn.commit()
    conn.close()
    
database_setup()

In [43]:
conn = sqlite3.connect('weather_database.db')
cursor = conn.cursor()

In [44]:
cursor.execute('SELECT * FROM weather_table')
cursor.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

a) All the temperature data.

In [65]:
cursor.execute('SELECT temperature FROM weather_table')
cursor.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition.

In [67]:
cursor.execute('SELECT DISTINCT City FROM weather_table')
cursor.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.

In [72]:
cursor.execute("SELECT * FROM weather_table WHERE country = 'India'")
cursor.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records.

In [73]:
cursor.execute("SELECT * FROM weather_table WHERE season = 'Fall'")
cursor.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

In [74]:
cursor.execute("SELECT city,country,season FROM weather_table WHERE Rainfall BETWEEN 200 AND 400")
cursor.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.

In [76]:
cursor.execute("SELECT city, country FROM weather_table WHERE season = 'Fall' AND temperature > 20 ORDER BY temperature ASC")
cursor.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g) The total annual rainfall for Cairo.

In [79]:
cursor.execute("SELECT SUM(rainfall) FROM weather_table WHERE city ='Cairo'")
cursor.fetchall()

[(27.6,)]

h) The total rainfall for each season

In [81]:
cursor.execute("SELECT SUM(rainfall) FROM weather_table GROUP BY season")
cursor.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

In [82]:
conn.close()

<b>Question 9<b>


. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)

In [83]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']

In [84]:
[word.upper() for word in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [85]:
[word.lower() for word in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [86]:
[len(word) for word in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [87]:
[[word.upper() , word.lower() , len(word)] for word in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [89]:
[word for word in words if len(word) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']